body{
    display: flex;
    justify-content: center;
}
#display{
    width: 238px;
    height: 80px;
    border: 1px solid #000;
    text-align: right;
}
#grid{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;   
}
.button{
    border: 1px solid #000;
    text-align: center;
}
.button:hover{
    background: #d6d6d6;
}
